{{> header}}
<body class="grid-container">
	{{> sidebar}}
	<div>
		<h1> {{ title }} </h1>
		<p> Welcome to <em> Local Library </em>, a basic Express app. </p>
		{{#if error }}
			<p> error </p>
		{{else}}
			{{#if author_list }}
				<ul>
					{{#each author_list}}
						<li>
							<a href="{{this.url}}">{{this.name}}</a> ({{this.birthdate}} - {{this.deathdate}})
						</li>
					{{/each}}
				</ul>
			{{else}}
				<p> There are no authors </p>
			{{/if}}
		{{/if}}

	</div>
</body>