{{> header}}
<body class="grid-container">
	{{> sidebar}}
	<div>
		<h1>{{title}}</h1>
		<form method='POST' action=''>
				{{#if author}}
					<div class="form-group">
						<label for="first_name">First name:</label>
						<input id="first_name" class="form-control" type="text" placeholder="First name" name="first_name" required='true' value="{{author.first_name}}">
						<label for="family_name">Family name:</label>
						<input id="family_name" class="form-control" type="text" placeholder="Family name" name="family_name" required='true' value="{{author.family_name}}">
					</div>
					<div class="form-group">
						<label for="date_of_birth">Date of birth:</label>
						<input id="date_of_birth" class="form-control" type="date" name="date_of_birth" value="{{author.birthdate_form}}">
					</div>
					<div class="form-group">
						<label for="date_of_death">Date of death:</label>
						<input id="date_of_death" class="form-control" type="date" name="date_of_death" value="{{author.deathdate_form}}">
					</div>
				{{else}}
					<div class="form-group">
						<label for="first_name">First name:</label>
						<input id="first_name" class="form-control" type="text" placeholder="First name" name="first_name">
						<label for="family_name">Family name:</label>
						<input id="family_name" class="form-control" type="text" placeholder="Family name" name="family_name">
					</div>
					<div class="form-group">
						<label for="date_of_birth">Date of birth:</label>
						<input id="date_of_birth" class="form-control" type="date" name="date_of_birth">
					</div>
					<div class="form-group">
						<label for="date_of_death">Date of death:</label>
						<input id="date_of_death" class="form-control" type="date" name="date_of_death">
					</div>
				{{/if}}
				<button class="btn btn-primary" type='submit'>Submit</button>
		</form>
		{{#if errors}}
			<ul>
				{{#each errors}}
					<li>{{this.msg}}</li>
				{{/each}}
			</ul>
		{{/if}}
	</div>
</body>