{{> header}}
<body class="grid-container">
	{{> sidebar}}
	<div>
		<h1>{{title}}: {{book.name}}</h1>
		<p>{{book}}</p>
		{{#if bookinstance_list.length}}
			<p><strong>Delete the following book instances before attempting to delete this book</strong></p>
			<div>
				<h4> Book Instances </h4>
				<ul>
					{{#each bookinstance_list}}
						<li>
							<a href="{{this.url}}">{{this.title}}</a>
							<p>{{this.summary}}</p>
						</li>
					{{/each}}
				</ul>
			</div>
		{{else}}
			<p>Do you really want to delete this Book?</p>
			<form method="POST" action="">
				<button class="btn btn-primary" type="submit">Delete</button>
			</form>
		{{/if}}
	</div>
</body>