{{> header}}
<body class="grid-container">
	{{> sidebar}}
	<div>
		<h1>{{title}}</h1>
		<form method='POST' action=''>
			{{#if book}}
				<div class="form-group">
					<label for="title">Title:</label>
					<input id="title" class="form-control" type="text" placeholder="Name of book" name="title" required='true' value="{{book.title}}">
				</div>
				<div class="form-group">
					<label for="author">Author:</label>
					<select id="author" class="form-control" type="select" placeholder="Select author" name="author" required="true">
						{{#each authors}}
							{{#ifEquals (toString this._id) book.author}}
								<option value="{{this._id}}" selected="true">{{this.name}}</option>
							{{/ifEquals}}
							{{#ifNotEquals (toString this._id) book.author}}
								<option value="{{this._id}}" selected="false">{{this.name}}</option>
							{{/ifNotEquals}}
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="summary">Summary:</label>
					<textarea id="summary" class="form-control" type="textarea" placeholder="Summary" name="summary" rows="3" required="true">{{book.summary}}</textarea>
				</div>
				<div class="form-group">
					<label for="isbn">ISBN:</label>
					<input id="isbn" class="form-control" type="text" placeholder="ISBN13" name="isbn" value={{book.isbn}} required="true"></input>
				</div>
			{{else}}
				<div class="form-group">
					<label for="title">Title:</label>
					<input id="title" class="form-control" type="text" placeholder="Name of book" name="title" required='true'>
				</div>
				<div class="form-group">
					<label for="author">Author:</label>
					<select id="author" class="form-control" type="select" placeholder="Select author" name="author" required="true">
						{{#each authors}}
							<option value="{{this._id}}">{{this.name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="summary">Summary:</label>
					<textarea id="summary" class="form-control" type="textarea" placeholder="Summary" name="summary" rows="3" required="true"></textarea>
				</div>
				<div class="form-group">
					<label for="isbn">ISBN:</label>
					<input id="isbn" class="form-control" type="text" placeholder="ISBN13" name="isbn" required="true"></input>
				</div>
			{{/if}}
			<div class="form-group">
				<label>Genre:</label>
				<div>
					{{#each genres}}
						<div style="display: inline; padding-right: 1%">
							<input class="checkbox-input" type="checkbox" name="genre" id="{{this._id}}" value="{{this._id}}" checked="{{this.checked}}"></input>
							<label for="{{this._id}}">{{this.name}}</label>
						</div>
					{{/each}}
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
		{{#if errors}}
			<ul>
				{{#each errors}}
					<li>{{this.msg}}</li>
				{{/each}}
			</ul>
		{{/if}}
	</div>
</body>